{% extends "admin/change_list.html" %}
{% block content %}
<div class="module" style="padding:12px">
  <p>აქ ჩანს FlexDrive-ში მიღებული, გასაყიდად ვარგისი ნივთები. თითოეული სტრიქონი ცალკე მიღების ჩანაწერია და უკავშირდება წყარო შეკვეთას.</p>
  <p>„მიღებული რაოდენობა“ უცვლელი ისტორიაა; „დარჩენილი რაოდენობა“ აჩვენებს, რამდენი ცალია დარჩენილი გაყიდვების შემდეგ. ერთი პროდუქტის რამდენიმე მიღება ცალკე სტრიქონებად ჩანს.</p>
  <p>ამოწურული ჩანაწერების სანახავად გამოიყენეთ მარაგის ნაშთის ფილტრი. რაოდენობები იცვლება გაყიდვისა და დაბრუნების პროცესით.</p>
</div>
{{ block.super }}
{% endblock %}
