{% extends "admin/change_form.html" %}

{% block submit_buttons_bottom %}
{{ block.super }}
{% if return_case_url %}<p><a href="{{ return_case_url }}">დაბრუნების ჩანაწერის ნახვა</a></p>{% endif %}
{% if return_flow_status %}<div class="module" style="padding:12px"><strong>{{ return_flow_status }}</strong>{% if return_flow_note %}<p>{{ return_flow_note }}</p>{% endif %}</div>{% endif %}
{% if show_return_start or show_return_receive %}
<div class="submit-row">
  {% if show_return_start %}<a class="button" href="{{ return_start_url }}">დაბრუნების დაწყება</a>{% endif %}
  {% if show_return_receive %}<a class="button" href="{{ return_receive_url }}">მიღება და შემოწმება</a>{% endif %}
</div>
{% endif %}
{% if show_cancel_and_restore_stock %}
<div class="submit-row">
  <input
    type="submit"
    name="_cancel_and_restore_stock"
    value="Cancel and restore stock"
  >
</div>
{% endif %}
{% if show_bog_full_refund or show_bog_reconciliation %}
<div class="submit-row">
  {% if show_bog_full_refund %}
  <a class="button" href="{{ bog_refund_url }}">თანხის დაბრუნება</a>
  {% endif %}
  {% if show_bog_reconciliation %}
  <a class="button" href="{{ bog_reconcile_url }}">ბანკის მდგომარეობის შემოწმება</a>
  {% endif %}
</div>
{% endif %}
{% if show_easyway_submit %}
<div class="submit-row">
  <a class="button" href="{{ easyway_submit_url }}">Send to EasyWay</a>
</div>
{% endif %}
{% if show_easyway_cancel %}
<div class="submit-row">
  <a class="button" href="{{ easyway_cancel_url }}">Cancel EasyWay shipment</a>
</div>
{% endif %}
{% if show_easyway_tracking %}
<div class="submit-row">
  <a class="button" href="{{ easyway_tracking_url }}">Refresh EasyWay tracking</a>
</div>
{% endif %}
{% endblock %}
